name: First-Github-Workflow

on:
  push:
    branches: [ main ]
    
jobs:
  workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Greeting from my side
        run: echo "Welcome to my first GitHub Actions workflow"
